@media (max-width:768px){
.stud-club-outer{
    margin-left: 65px !important;
}
}
.card-column{
    background-color: #e0f3ff74;
}
.stud-club-outer{
    margin-top: 50px;
    margin-left: 200px;
    width: 80%;
}