/* FacProfile.css */
.fac-profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(35, 50, 40, 0.8);
    background-color: #fff;
  }
  
  .gradient-customss {
    background: linear-gradient(144deg, rgb(41 41 41), rgb(48 106 168 / 89%));
    color: white;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;

  }

  @media (max-width:400px){
  
    .change-pass{
      margin-left: 0px !important;
    }

    .gradient-customss {
     border-top-right-radius: .5rem;
     border-bottom-right-radius: .5rem;
    }
    .fac-profile-outer{
      margin-left: 62px;
    }
}