.custom-select {
   
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    color: black !important;
  }
  
  .form-label {
 
    font-weight: bold;
  }
  
  .form-control {
   
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    color: black !important;
  }
  .mark-outer{
    margin-top: 50px;
    width: 80%;
    margin-left: 200px;
  }
  @media (max-width:768px){
    .mark-outer{
      margin-left: 65px;
    }
    .mark-modal{
      margin-left: 65px;
      width: 80%;
    }
  }