.landing-img{
    width: 100%;
    height: 100%;
    opacity: 0.4;
    
}
.left{
    padding: 0;
}
.rightCol{
    padding: 0;
}


.right {
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contents-1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 330px;
    font-weight: 800;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
  
  .contents-2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212A3E;
    font-size: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .contents-2 .adminlogo {
    width: 50px;
    margin-right: 10px;
  }
  
.contents-2 h2{
    color: #fff;
    
}
.contents-3 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212A3E;
    font-size: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: #fff;
   
  }
  .contents-3 .facultylogo {
    width: 50px;
    margin-right: 10px;
  }
  
.contents-3 h2{
    color: #fff;
    
}
.contents-4 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212A3E;
    font-size: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: #fff;
  }
  .contents-4 .studlogo {
    width: 50px;
    margin-right: 10px;
  }
  
.contents-4 h2{
    color: #fff;
    
}
.rightCol img{
  opacity: 0.7;
}
  