.card{
    background-color: rgba(59, 183, 250, 0.486) !important;
    
}
.dashboard-container {
    height: 100vh;
    width: 30%;
   
  }
  
  .card {
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.1);
  }
  @media (min-width: 768px) {
  .dashboard-container {
    align-items: flex-start;
  }
}