
/* .container-out{
  margin-left: -20px;
} */



@media (max-width: 768px) {
     .form-field{
      margin-left: 60px;
     
    }
  .submit-btn{
    margin-left: -150px;
  }
  .column{
    margin-left: -140px;
  }
    
  }
  