
.stud-complain-outer{
  margin-top: 50px;
  margin-left: 200px;
  width: 80%;
}

@media (max-width: 768px) {
     .stud-complain-outer{
      margin-left: 65px;
     
    }
  .submit-btn{
    margin-left: -195px;
  }
 .heading{
  margin-left: -45px;
 }
    
  }
  